html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--color-background);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	/* Colors */
	--color-1: #111e6c;
	--color-2: #ef434e;
	--color-3: #ffffff;
	--color-4: #323232;
	--color-5: #969696;
	--color-background: #e5e7ef;
	--gradient-1: linear-gradient(to right, var(--color-1), var(--color-2));
	/* Sizes */
	--max-width: 1200px;
	--app-padding: 2rem;
	--radius: 1.25rem;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: 0;
	}
}
