html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--color-background);
}

* {
	box-sizing: border-box;
}

:root {
	/* Colors */
	--color-1: #111e6c;
	--color-2: #ef434e;
	--color-3: #ffffff;
	--color-4: #323232;
	--color-5: #969696;
	--color-background: #e5e7ef;
	--gradient-1: linear-gradient(to right, var(--color-1), var(--color-2));
	/* Sizes */
	--max-width: 1200px;
	--app-padding: 2rem;
	--radius: 1.25rem;
}

a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

a:focus-visible,
input:focus-visible,
button:focus-visible {
	outline: none;
	box-shadow: 0 0 0 3px var(--color-1);
}

input {
	accent-color: var(--color-1);
}

label {
	-webkit-tap-highlight-color: transparent;
}

button {
	user-select: none;
	cursor: pointer;
	border: none;
	font-size: inherit;
	-webkit-tap-highlight-color: transparent;
	font-family: inherit;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-1);
	border-radius: 1rem;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: 0;
	}
}
